.box {
    margin-bottom: 10px;
    height: 10vh;
    width: 10vw;
    border: 2px solid black;
    overflow: auto;
    /* recommended overflow property*/
    /* overflow-y: hidden; */
    /* overflow-x: auto; ####examples of oveflow x&y */
    /* overflow: clip; */
    /* text-overflow: ellipsis; */
}

.box2 {
    height: 10vh;
    width: 10vw;
    border: 2px solid black;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 10px;
}

.box3 {
    height: 10vh;
    width: 10vw;
    border: 2px solid black;
    overflow: clip;
}